---
import Container from "@components/Container.astro";
---

<div class="pt-24 pb-5">
  <Container size="6xl">
    <slot />
  </Container>
</div>
<div class="w-full mx-auto px-5 md:px-24 max-w-6xl">
  <hr class="animate mt-3 mb-6 border-black/20 dark:border-white/20" />
</div>
